{% extends "app/layout.html" %}

{% load staticfiles %}

{% block content %}

<div class="headers-align">
    <h1>{{ title }}</h1>
    <br />
    <hr />
</div>

<div class="text-about">
    <p>
        Мы предлагаем путешествия в нетронутую природу.
        Участниками наших программ становятся люди, готовые любоваться красотой природы,
        оживлять местные культурные традиции, помогать сохранять островки всего живого на Земле.
        Мы стараемся, чтобы посещение удивительных уголков природы оставляло яркие впечатления у участников поездок,
        при этом приносило пользу заповедным территориям и тем людям, что проживают рядом с ними.
        Приокско-Террасный государственный природный биосферный заповедник — это островок дикой природы в самом густонаселенном регионе России.
        Единственный заповедник Московской области находится всего в 100 километрах от Красной площади.<br>
        Он расположен на террасах левого берега реки Оки, покрытых сосновыми и смешанными лесами. В заповеднике произрастает 913 видов сосудистых растений.
        На его уникальной территории можно встретить как характерные для северных районов болота с росянкой и клюквой, так и участки с более южной, степной растительностью.
        Это один из самых маленьких заповедников России. Однако на площади менее 5 тыс. га обитает 153 вида птиц и 57 видов диких млекопитающих.<br>
        Охрану и изучение этого уголка дикой природы осуществляет одноименное государственное учреждение, носящее имя Михаила Александровича Заблоцкого — выдающегося ученого,
        основателя первого российского зубрового питомника.<br>
        Благодаря его усилиям сегодня главной достопримечательностью заповедника является зубр — дикий лесной бык, самое крупное копытное животное Европы,
        современник мамонта, который совсем недавно стоял на грани исчезновения.<br>
        Посещение Приокско-Террасного государственного природного биосферного заповедника — прекрасная возможность отдохнуть на природе и получить незабываемые впечатления от встречи со стадом зубров в лесу.
    </p>
</div>


{% endblock %}